.home > div:not(:first-of-type) {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 5%;
}
.home div .recent-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4%;
}
.home div ~ a {
    align-self: flex-end;
}
.home div h3 {
    font-size: 2.4rem;
}

.toppc-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.toppc-grid .card-template div div:first-of-type p:last-of-type {
    display: none;
}
.toppc-grid .card-template div div:first-of-type p:first-of-type {
    position: absolute;
    border: 1px solid #ff4654;
    background-color: #102130;
    border-radius: 50%;
    width: auto;
    min-height: auto;
    padding: 10px 17px;
    font-size: 1.6rem;
    left: 2.5%;
    font-weight: 600;
}
.recent-grid .card-template div div:first-of-type p:first-of-type {
    display: none;
}

.toppc-grid .card-template:first-of-type div div:first-of-type p:first-of-type {
    left: auto;
    right: 5%;
    top: 2.5%;
    font-size: 2.4rem;
    padding: 10px 20px;
}
.toppc-grid .card-template {
    position: relative;
}

.toppc-grid .card-template div div:first-of-type {
    margin: 5% 10%;
    gap: 20px;
}
.toppc-grid .card-template div div:last-of-type {
    margin: 0 10% 5%;
}

.toppc-grid .card-template:not(:first-of-type) {
    grid-column: span 2;
    display: flex;

    border-radius: 20px 20px 20px 24px;
}
.toppc-grid .card-template:not(:first-of-type) div {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.toppc-grid .card-template div div:last-of-type {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.toppc-grid .card-template:not(:first-of-type) img {
    width: 50%;
}

.toppc-grid .card-template:first-of-type {
    display: flex;
    align-items: flex-end;
    padding: 5%;
    grid-row: span 3;
    width: 100%;
    background-image: var(--backgroundImage);
    background-position: center;
    background-size: cover;
}
.toppc-grid .card-template:first-of-type h2 {
    font-size: 4.8rem;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #102130, 1px -1px 0 #102130, -1px 1px 0 #102130,
        1px 1px 0 #102130;
    width: 100%;
}
.toppc-grid .card-template:first-of-type img {
    display: none;
}
.toppc-grid .card-template div hr {
    display: none;
}

.toppc-grid .card-template div div img.platform {
    width: 40px;
}
.card-template:hover {
    transform: scale(1.1);
}

.hide-p .card-template div div:first-of-type p {
    display: none;
}
